.res_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.res-popup-content {
  background-color: #fff;
  padding: 20px;
}

.heading {
  padding: 0px 30px;
  margin-bottom: 10px;
  text-align: center;
}

.content {
  margin-bottom: 10px;
  /* margin-left: 20px; */
}

.btn1 {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 107px;
}

.success {
  text-align: center;
  text-decoration: solid;
  color: green;
  margin-bottom: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .res-popup-content {
    padding: 10px;
  }

  .btn1 {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .res-popup-content {
    padding: 5px;
  }
  
  .btn1 {
    margin-left: 0;
    margin-top: 10px;
    font-size: 12px;
    padding: 8px 16px;
  }
}
